@import "src/styles";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-image: url('../../assets/img/pokemon-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  .logo {
    width: 100%;
    max-width: 400px;
  }

  &-content {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid $color-primary-yellow;
    background-color: $color-primary-grey;
  }
}