@import "src/styles";

.home {
  width: 100%;
  min-height: 100vh;
  padding: 20px;

  &-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &-content {
    margin-top: 25px;
    display: grid;
    gap: 25px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .pagination {
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
  }
}